* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #5b5777;
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

button {
  text-transform: none;
}

button, input {
  overflow: visible;
}

a, area, button, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

:root {
  --color-primary: 25, 128, 255;
  --color-danger: 255, 71, 87;
  --color-success: 70, 201, 58;
  --color-dark: 30, 30, 30;
  --color-warning: 255, 186, 0;
}


